<div class='navbar'>
  <button class='button glow nav-btn' id='back-btn'>Back To Teampage</button>
</div>

<div class='pageTop'>
  <h1 class='pageTitle'>
    Let's BATTLE!!!
  </h1>
</div>

<div class='columns battle'>
  <div class='column'>
    <figure class='hero1'>
      {{#each heroes}}
        <div class='card'>
          <div class='card-image'>
            <figure class='image is-4by3'>
              <img src='{{imagesrc}}' alt='Superhero image' />
            </figure>
          </div>
          <div class='card-content'>
            <div class='content'>
              <p>
                Name:
                {{name}}
              </p>
              <p>
                Alias:
                {{alias}}
              </p>
              <p>
                Strength:
                {{str}}
              </p>
              <p>
                Intelligence:
                {{int}}
              </p>
              <p>
                Speed:
                {{speed}}
              </p>
            </div>
          </div>
        </div>
      {{else}}
        <div class='card'>
          <div class='card-content'>
            <div class='content'>
              <p>You need a hero before you can battle! Head back to your team
                page to get started.</p>
            </div>
          </div>
        </div>
      {{/each}}
    </figure>
  </div>
  <div class='column'>
    <figure class='fightSim' id='fight-sim'>
      <button class='button is-dark' id='commence-battle'>LET'S FIGHT!</button>
      <p class='battle-info' id='stats'></p>
      <p class='battle-info' id='attack'></p>
      <p class='battle-info' id='hp'></p>
    </figure>
  </div>
  <div class='column'>
    <figure class='hero2'>
      <div class='card glow'>
        <div class='card-image'>
          <figure class='image is-square' id='enemy-image'>
          </figure>
        </div>
        <div class='card-content'>
          <div class='content'>
            <p id='enemy-name'>
            </p>
            <p id='enemy-alias'>
            </p>
            <p id='enemy-strength'>
            </p>
            <p id='enemy-intelligence'>
            </p>
            <p id='enemy-speed'>
            </p>
          </div>
        </div>
      </div>
    </figure>
  </div>
</div>
<script src='/js/heroes.js'></script>
<script src='/js/battle.js'></script>