<div class='tile is-ancestor'>
  <div class='tile is-4 is-vertical is-parent'>
    <div class='tile is-child box'>
      <p class='title'>Your current squad</p>
      {{!-- {{#each heroes}}
        <div class='card'>
          <div class='card-image'>
            <figure class='image is-4by3'>
              <img src='{{imagesrc}}' alt='Superhero image' />
            </figure>
          </div>
          <div class='card-content'>
            <div class='content'>
              <p>
                Name:
                {{name}}
              </p>
              <p>
                Alias:
                {{alias}}
              </p>
              <p>
                Strength:
                {{str}}
              </p>
              <p>
                Intelligence:
                {{int}}
              </p>
              <p>
                Speed:
                {{speed}}
              </p>
            </div>
          </div>
        </div>
      {{/each}} --}}
    </div>
  </div>
  <div class='tile is-parent'>
    <div class='tile is-child box'>
      <p class='title'>Choose a new squad</p>
      <p>I want a squad with high...</p>
      <button
        class='button stat-btn'
        data-stat='strength'
        onclick='squadTypeHandler(this)'
      >Strength</button>
      <button
        class='button stat-btn'
        data-stat='intelligence'
        onclick='squadTypeHandler(this)'
      >Intelligence</button>
      <button
        class='button stat-btn'
        data-stat='speed'
        onclick='squadTypeHandler(this)'
      >Speed</button>
    </div>
    <div class='tile is-child box'>
      <p class='title'>Squad choices go here</p>
      <button class='button stat-btn' id='squad-sel-btn'>I WANT THIS SQUAD!</button>
      <p>Squad options go here</p>
    </div>
  </div>
</div>

<script src='/js/teambuilder.js'></script>