<div class='pageTop'>
  <h1 class='pageTitle'>
  Main Menu
  </h1>
</div>

<div class='columns is-half teampage'>
  <div class='column'>
    <h2 class='cardTitle'>Welcome!</h2>
    <div class='welcomeBack'>
      <p>What would you like to do?</p>
      <button class='teampageButtons' id='editsquad-btn'>Edit My Hero</button>
      <button class='teampageButtons' id='highscores-btn'>View Highscores</button>
      <button class='teampageButtons' id='battle-btn'>Battle!</button>
    </div>
  </div>
  <div class='column'>
    <h2 class='cardTitle'>Your Hero</h2>
    <div class='yourSquad'>
      {{#each heroes}}
        <div class='card'>
          <div class='card-image'>
            <figure class='image is-4by3'>
              <img src='{{imagesrc}}' alt='Superhero image' />
            </figure>
          </div>
          <div class='card-content'>
            <div class='content'>
              <p>
                Name:
                {{name}}
              </p>
              <p>
                Alias:
                {{alias}}
              </p>
              <p>
                Strength:
                {{str}}
              </p>
              <p>
                Intelligence:
                {{int}}
              </p>
              <p>
                Speed:
                {{speed}}
              </p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<script src='/js/teampage.js'></script>