<div class='navbar'>
  <button class='button glow nav-btn' onclick='history.back()'>Back To Teampage</button>
</div>
<div class='tile is-ancestor is-12 builder'>
  <div class='tile is-3 is-parent'>
    <div class='tile is-child box current-hero'>
      <p class='title'>Your Current Hero</p>
      {{#each heroes}}
        <div class='card is-square glow'>
          <div class='card-image'>
            <figure class='image is-square user-image'>
              <img src='{{imagesrc}}' alt='Superhero image' />
            </figure>
          </div>
          <div class='card-content'>
            <div class='content'>
              <p>
                Name:
                {{name}}
              </p>
              <p>
                Alias:
                {{alias}}
              </p>
              <p>
                Strength:
                {{str}}
              </p>
              <p>
                Intelligence:
                {{int}}
              </p>
              <p>
                Speed:
                {{speed}}
              </p>
            </div>
          </div>
        </div>
      {{/each}}

    </div>
  </div>
  <div class='tile is-parent'>
    <div class='tile is-child box current-hero'>
      <p class='title'>Choose A New Hero</p>
      <p class='hero-text'>I want a hero with high...</p>
      <button
        class='button stat-btn glow'
        data-stat='strength'
        onclick='heroTypeHandler(this)'
      >Strength</button>
      <button
        class='button stat-btn glow'
        data-stat='intelligence'
        onclick='heroTypeHandler(this)'
      >Intelligence</button>
      <button
        class='button stat-btn glow'
        data-stat='speed'
        onclick='heroTypeHandler(this)'
      >Speed</button>
    </div>

    <div
      class='tile is-child box is-hidden card-background'
      id='hero-choice-box'
    >
      <div class='card glow'>
        <div class='card-image'>
          <figure class='image is-square' id='hero-image'>

          </figure>
        </div>
        <div class='card-content'>
          <div class='content'>
            <p id='hero-name'>
            </p>
            <p id='hero-alias'>
            </p>
            <p id='hero-strength'>
            </p>
            <p id='hero-intelligence'>
            </p>
            <p id='hero-speed'>
            </p>
          </div>
        </div>
      </div>
      <div class='hero-button'>
        <button class='button stat-btn glow' id='hero-sel-btn'>Choose This Hero</button>
        <button class='button stat-btn glow' id='hero-reroll-btn'>See Another
          Hero</button>
      </div>
    </div>
  </div>
</div>
{{! <script src='/js/heroes.js'></script> }}
<script src='/js/teambuilder.js'></script>