<div class='tile is-ancestor'>
  <div class='tile is-6 is-vertical is-parent'>
    <div class='tile is-child card1'>
      <p class='title'>Welcome back, {{name}}!</p>
      <p>What would you like to do?</p>
      <button class='button is-white' id='editsquad-btn'>Edit My Squad</button>
      <button class='button is-white' id='highscores-btn'>View Highscores</button>
      <button class='button is-white' id='battle-btn'>Battle</button>
    </div>
  </div>
  <div class='tile is-parent'>
    <div class='tile is-child card2'>
      <p class='title'>Your Squad</p>
      {{#each heroes}}
        <div class='card'>
          <div class='card-image'>
            <figure class='image is-4by3'>
              <img src='{{imagesrc}}' alt='Superhero image' />
            </figure>
          </div>
          <div class='card-content'>
            <div class='content'>
              <p>
                Name:
                {{name}}
              </p>
              <p>
                Alias:
                {{alias}}
              </p>
              <p>
                Strength:
                {{str}}
              </p>
              <p>
                Intelligence:
                {{int}}
              </p>
              <p>
                Speed:
                {{speed}}
              </p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<script src='/js/teampage.js'></script>